.my-4 {
    margin: 4px 0px 4px 0px;
}

.mx-4 {
    margin: 0px 4px 0px 4px;
}

.m-4 {
    margin: 4px;
}

.with-icon {
    display: flex;
    align-items: center;
}

mat-form-field {
    width: 100%;
}